.nav {
    overflow: hidden;
    background-color: #222c45;
    list-style: none;
}
.nav > li {
    display: inline-block;
}
.nav > li > a {
color: white;
padding: 14px 16px;
text-decoration: none;
font-size: 17px;
display: block;
}
.nav > li > a:hover {
background-color: #d54a4f;
color: black;
}
body {
    margin: 0;
    padding: 0;
    text-align: left;
    background-color: #161e2d;
    color: white;
    font-family: "Myriad Pro";
}