body {
    margin: 0;
    padding: 0;
    background-color: #161e2d;
    color: white;
    font-family: "Myriad Pro";
}
.topnav {
    position: relative;
    overflow: hidden;
    background-color: #222c45;
    border-bottom: 2px #2d374e;
    border-style: solid;
    margin: -5px;
}
.topnav > a {
    float: left;
    padding: 14px 16px;
}
.topnav > a:hover {
    background-color: #d54a4f;
}
.topnav-center > h1 {
    float: none;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.topnav-right {
    float: right;
    padding: 14px 16px;
}
.topnav-right:hover {
    background-color: #d54a4f;
}