body {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #161e2d;
    color: white;
    font-family: "Myriad Pro";
}
.nav {
    background-color: #222c45;
    color: #ffffff;
    list-style: none;
    text-align: left;
    padding: 20px 0 20px 0;
    border-bottom: 2px #2d374e;
    border-style: solid;
    margin: -5px;
}
.nav > li {
    display: inline-block;
    padding:0 25px 0 25px;
    vertical-align: middle;
}
.nav > .logo {
    border-right: 1px solid;
}
.nav > li > a {
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
}
.nav > li > a:hover {
    color: #d54a4f;
}
.options:hover {
    color: #d54a4f;
}